* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: "Inter", sans-serif;
}
header img {
    width: 80px;
    height: auto;
}
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    padding: 16px 24px;
}
header span {
    font-size: 20px;
    font-weight: bold;
}
nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 10px;
}
nav a {
    color: #000;
    text-decoration: none;
    font-size: 30px;
}
.brand {
    display: flex;
    align-items: center;
    gap: 10px;
}
.hero-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.hero {
    position: relative;
}
.hero-content {
    position: absolute;
    top: 20px;
    left: 24px;
    color: white;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 3);
}
.hero-content h1 {
    font-size: 24px;
}
.hero-button {
    background-color: #8e9ec9;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 6px;
    display: inline-block;
    margin-top: 8px;
    transition: transform 0.3s ease; background-color 0.3s ease; box-shadow 0.3s ease;
}
.hero-button:hover {
    transform: scale(0.97);
    background-color: rgb(126, 146, 121);
    box-shadow: 0 0 12px rgba(163, 192, 158, 0.7);
}
.hero-button:active {
    transform: scale(0.97);
    background-color: rgb(126, 146, 121);
    box-shadow: 0 0 12px rgba(52, 85, 44, 0.7);
}
.intro {
    padding: 2rem 1.5rem 2rem;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
}
.intro p {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.95rem;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}
.intro h2 {
    font-family: "Inspiration", cursive;
    font-size: 2.8rem;
    margin-top: 0;
    margin-bottom: 1rem;
}
.mid-links  {
    background-color: rgb(126, 146, 121);
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: center;
}
.mid-links h2 {
    font-family: "Inter", sans-serif;
}
.activity-card {
    width: 280px;
    color: black;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.activity-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    display: block;
}
.card-content {
    background-color: white;
    padding: 0.5rem 1rem 1rem;
}
.card-content h3 {
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.card-content p {
    font-size: 0.8rem;
    line-height: 1.4;
    margin-top: 0;
}
.activity-card:active {
    transform: scale(0.97);
}
.activity-card:hover {
    transform: scale(0.97);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}